<div class="container">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h1 class="center-align">Read the Latest from The New York Times</h1>

        </div>
    </div>
</div>
<div class="container">
    {{#each article}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">{{this.title}}</h3>
            <a href="/readArticle/{{this._id}}" id="btnSignUp">Read Article</a>
        </div>
    </div>
    {{/each}}
</div>